@media screen and (max-width: 1280px) {
  header {
    width: 95%;
    transition: 0.5s linear;
  }
  header .menu_side,
  .song_side {
    width: 30%;
  }
  header .song_side {
    width: 70%;
  }
  header .song_side .content {
    height: 18%;
  }

  header .song_side .popular_song {
    margin-top: 70px;
  }

  /* .songItem {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 90%;
        }
        .menue_song{
            max-width: 100%;
        } */

  header .song_side nav .search {
    display: flex;
  }
}

@media screen and (max-width: 930px) {
  .bi-music-note-list {
    display: inline-block;
  }
  header .menu_side {
    z-index: 999;
    width: 40%;
    position: absolute;
    transition: 1s linear;
    transform: translateX(-100%);
  }
  /* header .menu_side_active{
             
    }  */

  header .menu_side h1 {
    overflow-x: hidden;
    /* border: 1px solid red; */
    margin-top: 20%;
  }

  header .menu_side .playlist {
    overflow-x: hidden;
  }

  header .menue_song .songItem {
    width: 95%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
  }
  .songItem img {
    position: absolute;
    display: inline-block;
    max-height: 90%;
    justify-self: flex-start;
    left: 8%;
  }

  header .menue_song .songItem .titlelist {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* border: 1px solid white; */
    height: 80%;
    /* width: 50%; */
    left: 25%;
    top: 8.5%;
  }
  header .song_side {
    width: 100%;
  }

  header .master_play {
    position: absolute;
    bottom: 0;
  }
  header .menu_side h6 {
    position: absolute;
    right: -40px;
    bottom: 25%;
    width: 40px;
    height: 40px;
    background: rgba(47,47,47,255);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: 1s limear;
  }

  .bi-x {
    position: absolute;
    right: 40px;
    top: 5%;
    width: 40px;
    height: 40px;
    background: rgba(47,47,47,255);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    transition: 1s limear;
  }

  header .master_play {
    z-index: 233333333;
    display: grid;
    height: 30%;
    grid-template-rows: 2fr 0.8fr 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
  }

  #poster_master_play {
    grid-column: 1/11;
    /* border: 1px solid red; */
    width: 20%;
    height: 80%;
    margin: auto;
  }

  #title {
    align-self: flex-start;
    grid-row: 2/3;
    grid-column: 1/11;
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  header .master_play .titlelist .subtitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 12px;
  }

  header .master_play .icon {
    grid-row: 4/5;
    grid-column: 3/8;
    font-size: 35px;

    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header .master_play .icon .shuffle {
    font-size: 35px;
    width: 35.2px;
  }

  #download_music {
    font-size: 35px;
  }

  header .master_play .wave {
    /* border: 1px solid red;  */
    grid-row: 3/4;
    height: 60%;
    width: 80%;
    margin: auto;
  }

  #start {
    grid-row: 3/4;
    grid-column: 2/3;
    margin: auto;
  }
  header .master_play .bar {
    /* grid-row: 3/4;*/
    grid-column: 3/9;
    width: 90%;
    margin: auto;
    height: 4px;
  }
  /* #seek{
            width: 100%;
        } */

  #end {
    grid-row: 3/4;
    grid-column: 9/10;
    margin: auto;
  }

  header .master_play span {
    font-size: 20px;
  }

  header .master_play .volume {
    /* border: 1px solid red; */
    grid-row: 4/5;
    grid-column: 8/11;
    width: 50%;
    height: 4px;
  }
}

@media screen and (max-width: 680px) {
  header {
    height: 100vh;
    width: 100vw;
  }
  header .menue_song .songItem .titlelist {
    /* border: 1px solid white; */
    align-items: center;
    width: 50%;
    font-size: 15px;
  }
  header .master_play .icon {
    grid-row: 4/5;
    grid-column: 1/8;
    /* font-size: 35px; */
    width: 90%;
    /* margin-left: 10px; */
  }
  #poster_master_play {
    /* border: 1px solid red; */
    width: 20%;
    height: 75%;
  }

  #title {
    width: 70%;
    height: 100%;

    font-size: 20px;
  }
  header .master_play .titlelist .subtitle {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 3px;
  }
  header .master_play .icon .shuffle {
    font-size: 20px;
    width: 20.2px;
  }

  #download_music {
    font-size: 20px;
    margin-right: 10px;
  }

  .artist_img img {
    width: 50%;
    height: 40%;
  }
  header .song_song nav ul li {
    /* border: 1px solid white;  */
    margin-right: 10px;
    font-size: 11px;
  }
  header .song_song nav .search {
    /* border: 1px solid white;  */
    width: auto;
  }

  header .master_play {
    z-index: 8888888888888888888888888;
  }

  header .menu_side {
    width: 60%;
  }
}

@media screen and (max-width: 470px) {
  header .song_side nav .search {
    width: auto;
    display: flex;
    width: 150px;
    margin-right: 5px;
  }
  header .master_play {
    height: 27%;
  }
  #poster_master_play {
    /* border: 1px solid red; */
    width: 20%;
    height: 70%;
  }

  #title {
    width: 50%;
    height: 100%;

    font-size: 13px;
  }
  header .master_play .titlelist .subtitle {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 1px;
  }

  header .master_play .icon {
    grid-row: 4/5;
    grid-column: 1/8;
    font-size: 20px;
    width: 90%;
    margin-left: 10px;
  }

  header .master_play .icon .shuffle {
    font-size: 20px;
    width: 20.2px;
  }

  #download_music {
    font-size: 20px;
    margin-right: 10px;
  }

  header .master_play .wave {
    /* border: 1px solid red;  */
    grid-row: 3/4;
    height: 60%;
    width: 80%;
    margin: auto;
  }

  #start {
    grid-row: 3/4;
    grid-column: 2/3;
    margin: auto;
  }
  header .master_play .bar {
    /* grid-row: 3/4;*/
    grid-column: 3/9;
    width: 90%;
    margin: auto;
    height: 4px;
  }
  /* #seek{
            width: 100%;
        } */

  #end {
    grid-row: 3/4;
    grid-column: 9/10;
    margin: auto;
  }

  header .master_play span {
    font-size: 13px;
  }

  header .master_play .volume {
    /* border: 1px solid red; */
    grid-row: 4/5;
    grid-column: 8/11;
    width: 40%;
    height: 3px;
  }

  header .song_side {
    height: 73vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  header .song_side .popular_song {
    margin-top: 80px;
  }

  header .song_side nav {
    width: 100%;
    margin: 0%;
    padding: 5px;
    justify-content: center;
  }

  header .song_side nav .user {
    display: none;
  }

  /* header .song_side nav ul{
            width: 100%;
        } */

  header .song_side nav ul li {
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s linear;
  }

  header .menu_side {
    width: 70%;
  }
}
